<div class="ui bottom attached segment" id="footer">
  <p id="name"> 
    Developed by: Sahil Sinha.
  </p>
  <p id="name2"> Find me on: 
  <a href="https://www.facebook.com/sahilsinha.dar" id="links" target="_blank"><i class="ui blue large facebook icon"></i></a>
  <a href="https://www.linkedin.com/in/sahil-sinha-220807124/" id="links" target="_blank"><i class="ui large linkedin icon"></i></a>
  <a href="https://plus.google.com/u/0/118214861847860315039" id="links" target="_blank"><i class="ui large google plus icon"></i></a>
  </p>
  <p id="final">
    This application is made using
    <a href="https://www.angular.io" id="links" target="_blank" style="color: white;"><i class="ui red large angular icon" ></i></a>
  </p>
</div>
